@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}






@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-animated-bg {
  .navbar-animated-bg {
    background: rgba(255, 255, 255, 0.1);  /* Semi-transparent white background */
    border: 1px solid rgba(255, 255, 255, 0.25); /* Light white border for subtle edge */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect behind the navbar */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    background: linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5));
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
}


/* Landing Styles */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to start of the container */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Ensure text within the elements is centered */
  width: 100vw;
  height: 100vh;
  margin-top: 10vh;
  text-align: center;
  padding: 4rem 0;
}

.header {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
}

.subheader {
  font-size: 1.5rem;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


@layer components {
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to start of the container */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Ensure text within the elements is centered */
    width: 100vw;
    height: 300vh;
    overflow: hidden; /* Optional, prevents scroll within the section */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Prevents scroll inside the section */
  }
}


h1 {
  color: white; /* Sets the text color to white */
  font-size: 4rem; /* Sets a larger font size */
  font-weight: 700; /* Makes the font bold */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Adds shadow for better readability */
  text-align: center; /* Centers the text */
  margin-top: 10vh; /* Adds space above the h1 */
  margin-bottom: 1rem; /* Adds space below the h1 */
}


@layer utilities {
  .full-vh {
    min-height: 100vh; /* Ensures each section takes at least the height of the viewport */
  }
}

body {

}
